apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "access_key": "Your-Access-Key",
      "secret_key": "Your-Secret-Key"
      "region_id": "cn-hangzhou"
    }
